@import "../../../config";

@mixin skillsHeading {
  font-size: 1.2rem;
  text-align: center;
  background: $secondary-color;
  color: setTextColor($secondary-color);
  padding: 0.3rem 1.5rem;
  border-radius: 1rem;
}

.AboutMe {
  margin-bottom: 5rem;

  &--heading {
    @include heading;
  }

  &--subHeading {
    @include subheading;
  }

  &--text-secondaryColor {
    @include secondaryColor;
  }

  &--main {
    max-width: 1100px;
    margin: 1rem auto;
    display: grid;
    grid-gap: 0rem 2.5rem;
    align-items: center;
    justify-items: center;
  }

  &--gridHeading {
    grid-area: gh;
    justify-self: left;
  }

  &--image {
    grid-area: portrait;
    border-radius: 50%;
    border: solid 0.3rem $secondary-color;
    margin: auto;
    width: 225px;
    height: 225px;
  }

  &--bio {
    @include emphasisText;
    grid-area: bio;
    text-align: left;
  }

  &--skillsSection {
    background: lighten($primary-color, 5);
    padding: 2rem;
  }

  &--skillsSectionHeading {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3rem;
  }

  &--skills {
    background: lighten($primary-color, 5);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  &--skillsHeading {
    @include skillsHeading;
  }

  &--skillsBorder {
    border: 0.15rem solid $secondary-color;
    border-radius: 1rem;
    margin: 2rem 0rem 5rem;
  }
}

@include mediaSmall {
  .AboutMe--main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "portrait"
      "gh"
      "bio";
  }
}

@include mediaLarge {
  .AboutMe--main {
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    grid-template-areas:
      ". gh ."
      "portrait bio bio";
  }
}

@include mediaXLarge {
  .AboutMe--main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      ". gh ."
      "portrait bio bio";
  }
}
