@import "../../config";

.Project {
  box-sizing: border-box;
  padding: 1rem;
  background: lighten($primary-color, 5);
  border-bottom: 0.3rem solid $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include transitionEase;

  &:hover {
    transform: scale(1.07);
  }

  &--heading {
    text-align: center;
    margin: 2rem auto;
  }

  &--image {
    display: block;
    width: 95%;
    margin: 0 auto;
  }

  &--description {
    text-align: center;
    margin: 1.5rem 0;
    flex-basis: 5rem;
  }

  &--buttons {
    display: flex;
    justify-content: space-around;

    a {
      text-decoration: none;
      color: setTextColor($primary-color);
      font-size: 1.2rem;
      @include transitionEase;

      &:hover {
        @include secondaryColor;
      }

      &-selected {
        @include secondaryColor;
      }
    }
  }
}

@include mediaSmall {
  .Project {
    width: 300px;
  }
}

@include mediaMedium {
  .Project {
    width: 325px;
  }
}

@include mediaXLarge {
  .Project {
    width: 325px;
  }
}
