@import "../../config";

.Menu {
  &--overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    opacity: 0.9;
    visibility: hidden;
    @include transitionEase;

    &-active {
      visibility: visible;
    }
  }

  &--button {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 1100;
    cursor: pointer;
  }

  &--branding {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    @include transitionEase;
  }

  &--portrait {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    background: gray;
    border: solid 0.2rem $secondary-color;
  }

  &--nav {
    background: darken($primary-color, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    @include transitionEase;
  }

  &--ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--li {
    padding: 1rem;
    transform: translate(300rem);
    @include transitionEase;

    @for $x from 1 through 4 {
      &:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
      }
    }

    &-active {
      transform: translate(0);
    }
  }

  &--link {
    text-decoration: none;
    color: $foreground-color;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    color: $foreground-color;
    @include transitionEase;

    &:hover {
      color: $secondary-color;
    }

    &-selected {
      color: $secondary-color;
    }
  }
}

@include mediaSmall {
  .Menu {
    &--overlay {
      flex-direction: column;
    }

    &--branding {
      width: 100vw;
      height: 40vh;
      transform: translate(-100%);

      &-active {
        transform: translate(0);
      }
    }

    &--nav {
      transform: translate(100%);
    }
  }
}

@include mediaLarge {
  .Menu {
    &--overlay {
      flex-direction: row;
    }

    &--branding {
      width: 50vw;
      height: 100vh;
      transform: translate(-100%, 100%);

      &-active {
        transform: translate(0);
      }
    }

    &--nav {
      transform: translate(100%, -100%);
    }
  }
}

.Menu--nav-active {
  transform: translate(0);
}
