@import "../../scss/base";

@mixin tags {
  display: inline-block;
  background: lighten($primary-color, 5);
  color: setTextColor($primary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  margin: 0.1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.MyWork {
  margin-bottom: 5rem;

  &__heading {
    @include heading;
    padding: 0;
    margin: 2rem 0;
  }

  &__subHeading {
    @include subheading;
  }

  &__text--secondaryColor {
    @include secondaryColor;
  }

  &__suggestions {
    text-align: center;
  }

  &__tag {
    @include tags;
    transform: scale(0.9);
    @include transitionEase;

    &:hover {
      transform: scale(1);
    }
  }

  &__selectedTag {
    @include tags;
    background: $secondary-color;
    color: setTextColor($secondary-color);
    font-weight: bold;
    margin: 0.35rem;
    transform: scale(1.1);
    @include transitionEase;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__main {
    max-width: 1100px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
    grid-gap: 2.5rem;
    justify-items: center;

    @include mediaLarge {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mediaXLarge {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
