@import "../../scss/base";

$menuButton-size: 1.8rem;

.MenuButton {
  height: $menuButton-size;
  width: $menuButton-size;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all $transition-delay linear;
  cursor: pointer;

  &--active {
    transform: rotate(calc(45deg * 3));
  }

  &__btnLine {
    height: 12%;
    background: setTextColor($primary-color);
    transition: all 0.5s linear;

    &:nth-child(1) {
      animation: slideIn 0.5s 0s;
    }

    &:nth-child(2) {
      animation: slideIn 0.5s 0.1s;
    }

    &:nth-child(3) {
      animation: slideIn 0.5s 0.2s;
    }

    &--active:nth-child(1) {
      transform: translate(0, 275%);
      background: $secondary-color;
    }
    &--active:nth-child(2) {
      filter: opacity(0%);
    }

    &--active:nth-child(3) {
      transform: translate(0, -275%) rotate(90deg);
      background: $secondary-color;
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(5rem);
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}
