@import "../../variables";

$menuButton-size: 2.2rem;

.MenuButton {
  height: $menuButton-size;
  width: $menuButton-size;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all $transition-delay linear;
  cursor: pointer;

  &-active {
    transform: rotate(calc(45deg * 3));
  }

  &--btnLine {
    height: 12%;
    background: $foreground-color;
    transition: all $transition-delay linear;

    &-active:nth-child(1) {
      transform: translate(0, 275%);
    }
    &-active:nth-child(2) {
      filter: opacity(0%);
    }

    &-active:nth-child(3) {
      transform: translate(0, -275%) rotate(90deg);
    }
  }
}
