@import "../../config";

.MyWork {
  margin-bottom: 5rem;

  &--heading {
    @include heading;
  }

  &--subHeading {
    @include subheading;
  }

  &--text-secondaryColor {
    color: $secondary-color;
  }

  &--search {
    display: block;
    width: 70%;
    text-align: center;
    max-width: 500px;
    margin: 3rem auto;
    line-height: 2;
    padding: 0.5rem 2rem;
    background: lighten($primary-color, 5);
    color: setTextColor($primary-color);
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-bottom: 0.3rem solid lighten($primary-color, 5);
    @include transitionEase;

    &:hover,
    &:focus {
      border-bottom: 0.3rem solid $secondary-color;
    }
  }

  &--suggestions {
    text-align: center;
  }

  &--tag {
    display: inline-block;
    background: $secondary-color;
    color: setTextColor($secondary-color);
    margin: 0.3rem;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    @include transitionEase;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--main {
    max-width: 1100px;
    margin: 5rem auto;
    display: grid;
    grid-gap: 2.5rem;
    align-items: center;
    justify-items: center;
  }
}

@include mediaSmall {
  .MyWork--main {
    grid-template-columns: 1fr;
    align-items: stretch;
  }
}

@include mediaLarge {
  .MyWork--main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mediaXLarge {
  .MyWork--main {
    grid-template-columns: repeat(3, 1fr);
  }
}
