@import "../../../config";

@mixin tags {
  display: inline-block;
  background: lighten($primary-color, 5);
  color: setTextColor($primary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  margin: 0.1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.MyWork {
  margin-bottom: 5rem;

  &--heading {
    @include heading;
  }

  &--subHeading {
    @include subheading;
  }

  &--text-secondaryColor {
    @include secondaryColor;
  }

  &--suggestions {
    text-align: center;
  }

  &--tag {
    @include tags;
    @include transitionEase;
    transform: scale(0.9);

    &:hover {
      transform: scale(1);
    }
  }

  &--selectedTag {
    @include tags;
    @include transitionEase;
    background: $secondary-color;
    color: setTextColor($secondary-color);
    transform: scale(1.1);
    font-weight: bold;
    margin: 0.35rem;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--main {
    max-width: 1100px;
    margin: 5rem auto;
    display: grid;
    grid-gap: 2.5rem;
    align-items: center;
    justify-items: center;
  }
}

@include mediaSmall {
  .MyWork--main {
    grid-template-columns: 1fr;
    align-items: stretch;
  }
}

@include mediaLarge {
  .MyWork--main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mediaXLarge {
  .MyWork--main {
    grid-template-columns: repeat(3, 1fr);
  }
}
