@import "../../config";

.Card {
  box-sizing: border-box;
  padding: 1rem;
  background: lighten($primary-color, 5);
  border-bottom: 0.3rem solid $secondary-color;
  display: inline-block;
}

@include mediaSmall {
  .Card {
    width: 300px;
  }
}

@include mediaMedium {
  .Card {
    width: 350px;
  }
}

@include mediaLarge {
  .Card {
    width: 450px;
  }
}

@include mediaXLarge {
  .Card {
    width: 350px;
  }
}
