@import "../../config";

.Card {
  box-sizing: border-box;
  padding: 1rem;
  background: lighten($primary-color, 5);
  border-bottom: 0.3rem solid $secondary-color;
  display: inline-block;
  width: 300px;
}
