@import "../../config";

.Home {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--heading {
    @include heading;
  }

  &--subHeading {
    @include subheading;
  }

  &--icon {
    padding: 0.5rem;
    font-size: 2.2rem;
    color: setTextColor($primary-color);
    @include transitionEase;

    &:hover {
      color: $secondary-color;
    }
  }

  &--text-secondaryColor {
    color: $secondary-color;
  }
}
