@import "../../../config";

.Home {
  // box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 1rem auto;
  flex-direction: column;
  justify-content: center;

  &--heading {
    @include heading;
  }

  &--subHeading {
    @include subheading;
  }

  &--icon {
    padding: 0.5rem;
    font-size: 2.2rem;
    color: setTextColor($primary-color);
    @include transitionEase;

    &:hover {
      @include secondaryColor;
    }
  }

  &--text-secondaryColor {
    @include secondaryColor;
  }
}

@include mediaMedium {
  .Home {
    align-items: center;
  }
}
