$colors: (
  aqua: #7fdbff,
  blue: #0074d9,
  lime: #01ff70,
  navy: #001f3f,
  teal: #39cccc,
  olive: #3d9970,
  green: #2ecc40,
  red: #ff4136,
  maroon: #85144b,
  orange: #ff851b,
  purple: #b10dc9,
  yellow: #ffdc00,
  fuchsia: #f012be,
  gray: #aaaaaa,
  white: #ffffff,
  black: #111111,
  silver: #dddddd
);

$primary-color: #fff;
$secondary-color: map-get($colors, red);

@import url("https://fonts.googleapis.com/css?family=Abel");
$primary-font: "Abel", serif;

@mixin heading {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 3rem 0 0;
  line-height: 1;
}

@mixin subheading {
  font-weight: bold;
  margin: 1rem 0;
  line-height: 1.5;
  margin: 1.5rem 0;
}

@mixin emphasisText {
  font-size: 1.2rem;
}

@mixin secondaryColor {
  color: $secondary-color;
}

@function setTextColor($color) {
  @if (lightness($color) > 50) {
    @return #111;
  } @else {
    @return #eee;
  }
}

$showBackground: false;
$background-opacity: 0.8;

@mixin background {
  @if $showBackground {
    body {
      background: url("./images/background.jpg");
      background-size: cover;

      &::after {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background: rgba($primary-color, $background-opacity);
        z-index: -1000;
      }
    }
  }
}

$transition-delay: 0.4s;
$transition-function: ease;

@mixin transitionEase {
  transition: all $transition-delay $transition-function;
}

/* 
Media Queries written to be mobile first
Anything in small query carries to the largest unless over-ridden
*/

@mixin mediaSmall {
  @media screen and (min-width: 0px) {
    @content;
  }
}

@mixin mediaMedium {
  @media screen and (min-width: 500px) {
    @content;
  }
}

@mixin mediaLarge {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mediaMLarge {
  @media screen and (min-width: 875px) {
    @content;
  }
}

@mixin mediaXLarge {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
