@function setTextColor($color) {
  @if (lightness($color) > 40) {
    @return #111;
  } @else {
    @return #eee;
  }
}

$primary-color: #444;
$secondary-color: #eece1a;

$primary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$showBackground: true;
$backgroundImage: url("./images/background.jpg");
$background-opacity: 0.8;

@mixin background {
  @if $showBackground {
    body {
      background: $backgroundImage;
      background-size: cover;

      &::after {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background: rgba($primary-color, $background-opacity);
        z-index: -1000;
      }
    }
  }
}

$transition-delay: 0.5s;
$transition-function: ease;

@mixin transitionEase {
  transition: all $transition-delay $transition-function;
}

/* 
Media Queries written to be mobile first
Anything in small query carries to the largest unless over-ridden
*/

@mixin mediaSmall {
  @media screen and (min-width: 0px) {
    @content;
  }
}

@mixin mediaMedium {
  @media screen and (min-width: 500px) {
    @content;
  }
}

@mixin mediaLarge {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mediaXLarge {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
