/* 
Media Queries written to be mobile first
Anything in small query carries to the largest unless over-ridden
*/

@include mediaSmall {
  main {
    text-align: center;
    padding: 1rem;
  }
}

@include mediaMedium {
}

@include mediaLarge {
  main {
    text-align: left;
    line-height: 1.5;
    padding: 2rem;
  }
}

@include mediaXLarge {
}
