@import "./config";

body {
  background: $primary-color;
  font-family: $primary-font;
  color: setTextColor($primary-color);
  min-height: 100vh;
}

footer {
  position: fixed;
  bottom: 0;
  background: darken($primary-color, 3);
  width: 100%;
  margin: 0;
  padding: 0.75rem;
  box-sizing: border-box;
  opacity: 0.9;
  margin-top: 5rem;
}

@include background;

@import "./media";
