@import "base";

.App {
  &__main {
    text-align: center;
    padding: 0 1rem;

    @include mediaLarge {
      text-align: left;
      padding: 0 2rem;
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background: darken($primary-color, 2);
    color: darken((setTextColor($primary-color)), 5);
    opacity: 0.9;
    box-shadow: -4px -4px 8px 0 rgba(0, 0, 0, 0.12),
      0 -2px 4px 0 rgba(0, 0, 0, 0.08);

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__licenseText {
    margin: 5px;
  }

  &__license {
    display: flex;
    margin: 5px;
  }
}

// mixin for optional background
@include background;
