@import "../../scss/base";

.AboutMe {
  margin-bottom: 5rem;

  &__heading {
    @include heading;
    padding: 0;
    margin: 2rem 0rem 0rem 0rem;
  }

  &__subHeading {
    @include subheading;
  }

  &__text--secondaryColor {
    @include secondaryColor;
  }

  &__main {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "portrait"
      "gh"
      "bio";
    grid-gap: 0rem 1rem;
    align-items: center;
    justify-items: center;

    @include mediaLarge {
      grid-template-columns: repeat(3, minmax(10px, 1fr));
      grid-template-areas:
        ". gh ."
        "portrait bio bio";
    }
  }

  &__gridHeading {
    grid-area: gh;
    justify-self: left;
    margin: 0;
  }

  &__image {
    grid-area: portrait;
    margin: 0 auto;
    font-size: 7rem;

    @include mediaLarge {
      font-size: 12rem;
    }
  }

  &__bio {
    @include emphasisText;
    grid-area: bio;
    text-align: left;
  }
}
