@import "../../config";

.TechIcon {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &--icon {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transitionEase;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--subtitle {
    text-align: center;
    color: setTextColor($primary-color);
  }
}

@include mediaSmall {
  $TechIcon-size: 3rem;

  .TechIcon {
    width: $TechIcon-size;
    margin: 1rem;

    &--icon {
      width: $TechIcon-size;
      height: $TechIcon-size;
    }

    &--subtitle {
      display: none;
    }
  }
}

@include mediaMedium {
  $TechIcon-size: 4rem;

  .TechIcon {
    width: $TechIcon-size;
    margin: 1.2rem;

    &--icon {
      width: $TechIcon-size;
      height: $TechIcon-size;
    }

    &--subtitle {
      display: block;
      margin-top: 0rem;
    }
  }
}
