@import "../../scss/base";

.TechIcon {
  $TechIcon-size: 3rem;
  width: $TechIcon-size;
  margin: 1rem;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__icon {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;

    width: $TechIcon-size;
    height: $TechIcon-size;

    @include transitionEase;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__subtitle {
    text-align: center;
    color: setTextColor($primary-color);
    display: none;
  }
}

@include mediaMedium {
  $TechIcon-size: 4rem;

  .TechIcon {
    width: $TechIcon-size;
    margin: 1.2rem;

    &__icon {
      width: $TechIcon-size;
      height: $TechIcon-size;
    }

    &__subtitle {
      display: block;
      margin-top: 0rem;
    }
  }
}
